html,body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 200vh;
    width: 100vw;
    height: 200vh;
    background-image: linear-gradient(blue,rgb(120, 120, 255) , rgba(255, 255, 255, 0.683));
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}

#what{
    color: black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.topRow, .bottomRow {
    display: flex;
    width: 100%;
    height: 50%;
}

.containerTherm{
    display: flex;
    width: 35%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.containerCloud{
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.containerExtra{
    display: flex;
    width: 25%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerExtra label{
    color: black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.dawg{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    font-size: 2rem;
}

#therBod{
    width: 50%;
    height: 80%;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    border-radius: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#empty{
    overflow: hidden;
    height: 80%;
    width: 20%;
    border-radius: 20rem;
    border: 3px solid aqua;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 4%;
}

#mercury{
    background-color: red;
    width: 100%;
    height: 100%;
}

.cloud{
    background-color: white;
    height: 30%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    border-radius: 30%;
}

.cloudText{
    font-size: 300%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

p{
    pointer-events: none;
}

h3{
    pointer-events: none;
    margin: 0;
}

#enter{
    cursor: pointer;
}

#left25{
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#middle50{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#right25{
    display: flex;
    position: relative;
    height: 100%;
    width: 25%;
    align-items: end;
    justify-content: center;
}

.cur{
    display: flex;
    width: 70%;
    height: 20%;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
}

.cur p{
    color: black;
    font-size: 300%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

#left25 span{
    font-size: 250%;
    font-weight: bold;
    margin-bottom: -10%;
}

#middle50 table{
    width: 100%;
}

#middle50 table, th, td{
    font-size: 2rem;
    height: 20%;
    border: 1px solid black;
    border-collapse: collapse;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    text-align: center;
}

.row1{
    background-color: gray;
}

#middle50 table input{
    border: 3px solid black;
}

#howMuchMerc{
    display: flex;
    width: 20%;
    height: 80%;
    flex-direction: column;
    margin-right: 15%;
    justify-content: space-between;
    font-weight: bold;
    font-size: large;
    text-shadow: black 1px 0 1px;
}

#left25 span{
    color: black;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

#right25 .hitbox{
    position: absolute;
    background-color: black;
    opacity: 0.0;
    cursor: pointer;
}

#headHit{
    width: 36%;
    height: 18%;
    bottom: 37%;
    right: 13%;
}

#tailHit{
    width: 39%;
    height: 7.5%;
    bottom: 2%;
    right: 47.5%;
}

#tummyHit{
    width: 33%;
    height: 25%;
    bottom: 10%;
    right: 15%;
}   

#myCharts{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(0,0,0,1);
}